@import 'typeface-poppins';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #bd5b4c #E5E7EB;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E5E7EB;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bd5b4c;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
